body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #AA151B;
  color: #FFC400;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left; 
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #FFC400;
  color: #AA151B;
}

section {
  padding: 50px;
}

h2 {
  color: #AA151B;
}

footer {
  background-color: #AA151B;
  color: #FFC400;
  text-align: center;
  padding: 20px; 
}